html {
  background-color: #E9E9E9;
}
.underlined {
    border-bottom-width: 3px;
    padding-bottom: 8px!important;
    border-bottom: 4px solid #88BBD6;
    display: inline-block;
    margin-bottom: 20px!important;
}
h4 {
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5em;
    margin-top: 10px;
    padding-bottom: 20px;
}
 hr {
    height: 1px;
    width: 100%;
    background-color: #000000
}
div.box-item {

	max-height: 100%;
	max-width: 100%;
	text-decoration: none;
}
h5 {
	font-family: Elena,Georgia,serif
}
.box-item p {
	color: #000000;
	text-decoration: none;
	font-family: Elena,Georgia,serif
}
.box-item a {
    color: #000000;
    text-decoration: none;
    font-family: Elena,Georgia,serif
}
.homelink a {
 color: #88BBD6;
 font-family: Elena,Georgia,serif;
}
a:hover {
    color: #88BBD6;
}
.cslearn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);  
}
.startupsummer:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);  
}
.seproject:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);  
}
.clocksync:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);  
}
.knearest:hover {
    color: #88BBD6;
    transition: all .2s ease-in-out;
    transform: scale(1.1);  
}
.container {
background:#E9E9E9;
margin:20px auto;
padding:20px;
position:relative;
width:700px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
box-shadow:1px 1px 5px #111;
-moz-box-shadow:1px 1px 5px #111;
-webkit-box-shadow:1px 1px 5px #111;
}
